<ion-view view-title="Search">
<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div>
            <div class="card ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/download.jpg');"></span>
                    <strong>Iphone 6</strong> 
                    <strong>R$ 1.999,00</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-heart assertive"></i> 23
                        <i class="icon ion-ios-cart royal"></i> 2
                        <i class="icon ion-chatbubble positive"></i> 5
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 1h atrás
                        </div>
                    </div>
                </div>
            </div>
            <div class="card ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/download.jpg');"></span>
                    <strong>Iphone 6</strong> 
                    <strong>R$ 1.999,00</strong>
                    <div class="card-footer text-right">
                        <i class="icon ion-heart assertive"></i> 2
                        <i class="icon ion-ios-cart royal"></i> 0
                        <i class="icon ion-chatbubble positive"></i> 1
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 2h atrás
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
